#nav-menu{
    display: flex;
    margin:auto;
    border: 2px black solid;
    height: 40px;
    width: 100%;
}
#nav-menu> div{
border: 2px black solid;
margin: auto;
height: 30px;
}
#nav-menu> div>p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 20px;
    text-align: center;  
    margin-top: 5px;
    border: 2px black solid;
}
#home>img{
    width: 100%;
    height: 90px;
}